#us{
	width:100%;
	min-width:1260px;
	margin:0 auto;
	background-color: #fff;

}
.us-content{
	position:relative;
	top:-60px;
	width:85%;
	background-color: #fff;
	margin:0 auto;
	box-sizing:border-box;
	box-shadow:20px 20px 30px rgba(0,0,0,.3);
	padding:20px 10px;
}
/* 列表部分 */
.us-left{
	width:25%;
	float:left;
}
.us-right{
	width:70%;
    float:right;
}
.us-left .us-logo{
    
}
.us-left .us-logo img{
	width:100%;
}
.us-left ul{
	margin-top:50px;
	margin-bottom:30px;
}
.us-left ul li{
	width:100%;
	border-bottom:1px dashed #333;
	line-height:50px;
	text-align:10px;
	font-size:17px;
}
.us-left ul li a{
	color:#333;
}
.us-left ul li a:hover{
	color:#30d0b6;
}
.on-us-color{
	color:#30d0b6 !important; 
}
.us-pic img{
	width:100%;
}
.us-pic p{
	margin-bottom:5px;
}
.us-pic span{
	font-size:14px;
}

/*右侧切换内容部分*/
.us-right h3{
	font-weight:normal;
	font-size:17px;
	line-height:25px;
	text-align:left !important;
	background-color:#ccc;
}
.us-right img{
	width:98%;
}
.us-right span{
	font-weight:bold;
	display:inline-block;
    margin-top:20px;
}

/*公司简介*/
.us-right .section1 p{
	font-size:14px;
	color:#313131;
}
.onTab{
	display:none;
}

/*荣誉资质*/
.us-right .section2 li{
	width:35%;
	display:inline-block;
}
.us-right .section2 li:nth-child(odd){
	margin-left:40px;
}
.us-right .section2 li:nth-child(even){
	margin-left:110px;
}
.us-right .section2 li p{
	font-size:14px;
}

/*员工风采*/
.us-right .section3{
	padding-right:20px;
	/*text-align:center;*/
}
.us-right .section3 h4{
	font-weight:normal;
	color:#30d0b6;
	text-align:left !important;
}
.us-right .section3 p{
	font-size:15px;
	color:#313131;
	text-indent:30px;
	text-align:left !important;
}
.us-right .section3 img{
	width:80%;
}

/*合作伙伴*/
.us-right .section4 ul{
	width:90%;
	margin:20px auto;
}
.us-right .section4 ul li{
	display:inline-block;
	width:40%;
	margin:20px;
}