#contact{
	width:100%;
	min-width:1260px;
	margin:0 auto;
	background-color:#fff;
	padding-bottom:30px;
}
.contact-content{
	width:90%;
	margin:0 auto;
}
.contact-logo{
	width:100%;
	border-bottom:1px solid #333;
	padding:25px 10px;
}
.contact-logo img{
	width:23%;
}
.main-contact{
	width:100%;
	margin:20px auto;
}
.main-contact h4{
	color:#30d0b6;
	font-weight:normal;
	font-style:italic;
	font-size:17px;
}
.contact-left{
	float:left;
	width:40%;
}
.contact-left p{
    line-height:27px;
    font-size: 15px;
}
.contact-left img{
	width:90%;
}

.contact-right{
	float:right;
	width:45%;
}
.contact-right label{
	font-size:15px;
	letter-spacing:15px;
}
.contact-right input{
	outline:none;
	width:420px;
	height:32px;
	margin-bottom:2px;
	border:1px solid #a0a0a0;
	border-radius:7px;
	font-size:14px;
	text-indent:10px;
}
.contact-right textarea{
	width:420px;
	height:150px;
	border:1px solid #a0a0a0;
	border-radius:7px;
	vertical-align: middle;
	resize:none;
	font-size:14px;
	text-indent:10px;
	outline:none;
}
#btn{
	display:inline-block;
	margin-left:90px;
	background-color:#30d0b6;
	color:#fff; 
	border:none;
	height:40px;
	font-size:16px;
	font-family:inherit;
	cursor:pointer;
	margin-top:17px;
}
.contact-right p{
	margin:2px auto 2px 90px;
}
/*邮箱验证格式*/
.form-color{
	font-size:13px;
	color:#30d0b6;
    margin-bottom:5px;
}
.right{
	background:url(../huakeimg/right.png) no-repeat;
	background-position:97%;
	background-size:25px 25px;
}
.wrong{
	background:url(../huakeimg/wrong.png) no-repeat;
	background-position:97%;
	background-size:25px 25px;
}