/*首页*/
#header .top-content .nav li{
	margin:0 5px;
}

/*项目案例页*/
#case .case-move .twopicmove{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
#case .case-move li:hover .twopicmove{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.us-right .section2 li{
	margin-left:80px;
}