body{
	margin:0;
	padding:0;
	font-family: "微软雅黑"  !important;
}
ul{
	margin:0;
	padding:0;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
.clearfix:after,
.clearfix:before{
	content: "";
	display:table;
}
.clearfix:after{
	clear: both;
}

.top{
	width:100%;
	background-color:#fff;
	line-height:50px;
	border-bottom:1px solid #e0e0e0;
	position:fixed;
	top:0;
	z-index:20
}
.back-btn{
	font-size:0.9em;
	color:#a0a0a0;
	position:absolute;
	left:10px;
}
.back-btn img{
	width:10px;
	vertical-align:middle;
}
.top span{
			display:inline-block;
			width:100%;
			text-align:center;
			color:#04934b;
			font-size:1.2em;
		}

.footer{
			position: fixed;
			bottom:0;
			width:100%;
			padding:20px 0;
			text-align:center;
			color: #fff;
			background:rgba(14,157,85,0.75);
		}
.topdown{
			position:fixed;
			top:0;
			bottom:0;
			background-color: rgba(31,31,31,0.7);
			width:100%;
			height:200%;
			z-index: 100;
			font-size:1em;
			text-align:center;
			display:none;
		}
		.topdown ul{
			position:fixed;
            padding:0;
            margin:0;
            bottom:0;
            width:100%;
            background-color:#fff;
            z-index:999;

		}
		.topdown ul li{
			width:100%;
			border-bottom:2px solid #a0a0a0;
			
		}
		.topdown ul .quxiao{
			background-color:#c0c0c0;
			border-bottom:0;
		}
		.topdown ul .quxiao a{
			color:#fff;
		}
		.topdown ul li a{
			width:100%;
			display:block;
			line-height:50px;
			color:#333;
		}
