body{padding:0;margin:0;}
.main-header{
	background:url(../imgs/bg.jpg);
	background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 62px;
    padding-top: 62px;
    text-align:center;
    }
.main-header .row{
	width:80%;
	margin:0 auto;
}
.col-md-12 h1{color:#ffffff;font-size:3em;}
.main-header .btn{
	color:white;
	border-color:#f1362f;
	background-color:transparent;
	padding:7px 14px;
	position:relative;
	transition:all 0.8s ease-in-out 0s;
}
.main-header .btn:hover{background-color:black;}
.main-header .btn-doc{
	display:block;
	white-space:nowrap;
	margin:auto auto 10px;
	box-sizing:border-box;


}
.main-header .row div:nth-child(2){
	bottom:-40px;
}
.main-navigation{
	width:100%;
	background-color:#ffffff;
	border-bottom:2px solid #e1e1e1;
}
.main-navigation .menu{
	text-align:center;
	list-style:none;
	padding:0;
	margin:0;
}
.main-navigation .menu li{
	display:inline-block;
}
.main-navigation .menu li.nav-current{
	border-bottom:2px solid #f4655f;
	margin-bottom:-2px;
}
.main-navigation .menu li a{
	color:#505050;
	text-decoration:none;
	line-height:4em;
	padding:0 20px;
}
.main-navigation .menu li a:hover{color:#f3726d;}

.content-wrap{
	background-color:#ebebeb;
	padding-top:30px;
}
article{
	margin-bottom:35px;
	background-color:#ffffff;
	text-align:center;
	padding:10px 35px;
}
.post-head h1{font-size:1.5em;}
.post-meta{
	margin:15px 0 15px;
	color:#a0a0a0;
}
.post-meta a{
	color:#f3726d;
	padding:0 5px 0 2px;
}
.post-media img{
     width:100%;
}
.post-content{
	padding:25px 0;
	font-size:1.3em;
	color:#423f3f;
	text-align:left;
}
.post-content p{margin:0;}
.post-btn{
	text-align:left;
}
.post-btn .btn{
	background-color:#f3726d;
	color:#ffffff;

}
.post-footer{
	padding:10px 0;
	border-top:1px solid #e0e0e0;
	margin-top:30px;
}

.pages{
	text-align:center;
	padding-bottom:20px;
}
#fontcolor a{
	background-color:#f3726d;
	color:#ffffff;
}

.widget{
	background-color:#ffffff;
	padding:25px 20px;
	margin-bottom:35px;

}
.widget h4{
	border-bottom:1px solid #e0e0e0;
	font-size:1.4em;
	padding-bottom:10px;
	margin:0;
	position:relative;
}
.widget h4::after{
    background: #f4645f none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 90px;
}
.side-content{
	margin-top:20px;
	line-height:2em;
}
.side-content span{
	display:block;
}
.side-content .side1{
	color:#f3726d;
	text-decoration:none;
}
.side-content .btn1{
	width:100%;
	background-color:#f3726d;
	color:#ffffff;
}
.side-btns .btn{
	color:#e0e0e0;
	margin:0 10px 10px 0;
	padding:5px;
}
.side-btns .btn:hover{
	background-color:#f3726d;
	color:#ffffff;
}

.main-footer{
	background-color:#2e2929;
}
.main-footer .widget{
	background-color:#2e2929;
	}
.main-footer .single{
	color:#e0e0e0;
	line-height:1.6em;
	padding:15px 0;
	border-bottom:1px dotted #a19d9d; 
}
.main-footer h4{color:#ffffff;}
.main-footer time{display:block;}
.main-footer a{color:#c1c1c1;}

.foot-btns{padding:15px 0;}
.main-footer .btn{
	background-color:transparent;
	margin:10px 5px 5px 0;
	padding:3px;
}
.main-footer .btn:hover{
	background-color:#f3726d;
	color:#ffffff;
}
.copyright{
	text-align:center;
	background-color:#050505;
	padding:30px 0;
}
.copyright a{
	color:#838180;
	text-decoration:none;
	font-size:0.8em;
}