body{
	font-family: arial,"Microsoft Yahei",sans-serif;
	background:#fbfaf8; 
}
.bangdan-container{
	width: 1226px;
	margin:40px auto;
}
.bar{
	float: left;
}
.sidebar{
	width:18%;
	border-right:1px solid #c0c0c0;
	
	box-sizing:border-box;
}
.sidebar h2{
    font-weight:normal;
    color:#afa298;
    line-height:50px;
    padding-left:20px;
}
.sidebar ul{
	width:100%;
	font-size:16px;
}
.sidebar ul li{
	height:55px;
	line-height:55px;
	padding-left:20px;

}
.sidebar ul li a{
	color:#613f23;
}
.sidebar ul li a:hover{
    color: #ed6c00;
}
.sidebar ul .bangstyle{
	background: #f4f2ef none repeat scroll 0 0; 
	font-weight:bold;
	border-right:4px solid #ed6c00;
}
.sidebar ul .bangstyle a{
	color:#ed6c00 !important;
}
.bd-content{
	width:82%;
	box-sizing:border-box;
}
.bd{
	width:46%;
	box-sizing:border-box;
	margin-left:40px;
	float:left;
}
.bd h2{
	width:70%;
	display:inline-block;
	font-weight:normal;
	color:#333;
	line-height:50px;
}
.bd .bd-head a{
	display:inline-block;
	width:25%;
	font-size:12px;
	color:#613f23;
	text-align: right;
}
.changxiao{
	width:100%;
}
.changxiao li{
	height:55px;
	line-height: 55px;
	border-top:1px solid #e0dad5;
}
.changxiao li em{
	display:inline-block;
	width:5%;
	font-style:normal;
	font-weight:bold;
	color:#ed6c00;
}
.changxiao li a{
	display:inline-block;
	width:60%;
	color:#613f23;
	font-size:14px;
}
.changxiao li a:hover{
	color:#ed6c00;
}
.changxiao li span{
	display:inline-block;
	width:30%;
	text-align:right;
	font-size:13px;
	color:#a0a0a0;
}

hr{
	color:gray;
	box-shadow:0 2px 5px gray;
}
.toTop{
         width:50px;
         height:50px;
         background-color:#ccc;
         position:fixed;
         bottom:50px;
         right:5px;
         cursor:pointer;
      }
      .toTop img{
         width:50px;

      }