body{
	font-family: arial,"Microsoft Yahei",sans-serif;
	background:#fbfaf8; 
}
.jing-container{
	width:1226px;
	margin:40px auto;
}
.bar{
	float:left;
}
.jing-sidebar{
	width:18%;
	border-right:1px solid #c0c0c0;
	
	box-sizing:border-box;
}
.jing-sidebar h2{
    font-weight:normal;
    color:#afa298;
    line-height:50px;
    padding-left:20px;
}
.jing-sidebar ul{
	width:100%;
	font-size:16px;
}
.jing-sidebar ul li{
	height:55px;
	line-height:55px;
	padding-left:20px;

}
.jing-sidebar ul li a{
	color:#613f23;
}
.jing-sidebar ul li a:hover{
    color: #ed6c00;
}
.jing-sidebar ul .bangstyle{
	background: #f4f2ef none repeat scroll 0 0; 
	font-weight:bold;
	border-right:4px solid #ed6c00;
}
.jing-sidebar ul .bangstyle a{
	color:#ed6c00 !important;
}
.jing-content{
	width:80%;
}
.jing-content h2{
	font-weight:normal;
	font-color:#333;
	margin-left:38px;
}
.jing-list{
	width:100%;
	margin-top:40px;
}
.jing-list li{
	width:50%;
	float:left;
	box-sizing:border-box;
	padding-left:40px;
	padding-top:15px;
	font-size:14px;
}
.jing-list li .jing{
	float:left;
	height:100%;
	margin-bottom:8px;
}
.jing-list li .jing-spic a{
	display:block;
}
.jing-list li .jing-spic img{
	width:100px;
	box-shadow:2px 4px 6px #ccc;
}
.jing-list li .jing-spic p{
	margin-top:10px;
	font-weight:bold;
}
.jing-list li .jing-spic p span{
	font-weight:normal;
	color:#a0a0a0;
	text-decoration: line-through;
}
.jing-list li .jing-stxt{
	margin-left:20px;
	line-height:23px;

}
.jing-list li .jing-stxt a{
	color:#613f23;
	font-size:15px;
	padding-top:0;
}
.jing-list li .jing-stxt span{
	color:#a0a0a0;
	font-size:12px;
}
.jing-list li .jing-stxt p{
	font-size:12px;
	color:#666;
}
.pages{
	width:50%;
	float:right;
	text-align: right;
	margin-right:100px;
	margin-top:30px;
	font-size:13px;
}
.pages a{
	display:inline-block;
	color:#a6978a;
	width:20px;
	height:25px;
	text-align:center;
	line-height: 25px;
	
}
.pages .pre{
	width:100px !important;
}
.pagestyle{
	background-color:#a6978a;
	color:#fff !important;
}
.toTop{
         width:50px;
         height:50px;
         background-color:#ccc;
         position:fixed;
         bottom:50px;
         right:5px;
         cursor:pointer;
      }
      .toTop img{
         width:50px;

      }